  <form class = "edit-question-form" method = "post" action =  "/surveys/<%=@survey.id%>/question/edit">
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="question[id]" value="<%=question.id%>">
    <label for = "question-name-input" >Question Text:</label>
    <input id ="question-name-input" name = "question[text]" type = "text" value="<%=question.text%>"><br>
      <div id = "options-container">
      <%question.options.each.with_index do |option, i| %>
        <%= erb :"options/_edit", layout: false, locals: {:option => option, :index => i}%>
      <%end%>
      </div>

    <input type = "submit" value = "Edit Question" class="button">

  </form>


  <form class = "delete-question-form" method = "post" action = "/surveys/<%=@survey.id%>/question">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="question[id]" value="<%=question.id%>">

    <input type = "submit" value = "Delete Question" >

  </form>
