
<div id = "survey-index-title">
  <h3>Surveys</h3>
</div>

<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
    <li><%= error %></li>
  <%end%>
  </ul>
<%end%>


<div id="survey-all-list">
  <%@surveys.each do |survey| %>
<ul>
 <li>

  <h3><a href="/surveys/<%=survey.id%>/completed_surveys/new"><%=survey.name%></a></h3>
  <p><%=survey.description%></p>
  <p><%=survey.creator.username%></p>
    <%if logged_in? && current_user == survey.creator %>
    <span id="edit-survey"><a href="/surveys/<%=survey.id%>">Edit</a></span>

    <span id="delete-survey">
      <form method = "post" action = '/surveys/<%=survey.id%>'>
        <input type="hidden" name="_method" value="Delete">
        <input type="submit" name="delete" value = "delete">
      </form>
    </span>

    </p>
    <%end%>

 </li>
</ul>
  <%end%>


