
<div id = "survey-index-title">
  <h3>Surveys</h3>
</div>

<div id="survey-all-list">
  <%@surveys.each do |survey| %>
<ul>
 <li>

  <h3><a href="/surveys/<%=survey.id%>/completed_surveys/new"><%=survey.name%></a></h3>
  <p><%=survey.description%></p>
  <p><%=survey.creator.username%>
    <%if logged_in? && current_user.id = survey.creator_id%>
  <span id="edit-survey"><a href="/surveys/<%=survey.id%>/edit">Edit</a></span></p>
    <%end%>

 </li>
</ul>
  <%end%>

<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <%end%>
<%end%>
</div>

