<div id = "survey-header-information">
  <h3>Survey Name: <%=@survey.name%></h3>
  <h3>Survey Description: <%=@survey.description%></h3>
  <h3>Created At: <%=@survey.created_at%></h3>
</div>

<div id = "questions-container">
  <%= erb :"questions/_new", layout: false%>
</div>

<div id="done-button">
  <input type='button'value='Done Creating Survey' onclick="document.location.href='/surveys';"/>
</div>

<div id = "questions-show-container">

  <%= erb :"questions/_show", layout: false%>

</div>





