
<div id = "survey-header-information">
  <h3>Survey Name: <%=@survey.name%></h3>
  <h3>Survey Description: <%=@survey.description%></h3>
  <h3>Created At: <%=@survey.created_at%></h3>
</div>

<div id = "questions-container">
  <%= erb :"questions/_new", layout: false%>
</div>

<div id = "questions-show-container">

  <%@survey.questions.each do |question|%>
    <h3> <%=question.text%>: </h3>
    <ul>
      <%question.options do |option| %>
      <li><%=option.text%><li>
      <%end%>
    <ul>
  <%end%>

</div>





